body {
  background-color: yellow;
}
h1 {
  color: green;
}
h2 {
  color: blue;
  border: 4px solid green;
  padding: 30px;
}

ul {
  color: black;
}

ol {
  color: black;
}

p {
  margin: 20px;
}

h3 {
	margin: 20px;
}

a {
  margin: 50px;
}

header {
  background-color: purple;
  padding: 2px;
  text-align: center;
  font-size: 35px;
  color: white;
}

footer {
  background-color: purple;
  padding: 5px;
  text-align: center;
  color: white;
}

table, th, td {
  border: 2px solid black;
}

th {
	background-color: red;
	color: yellow;
}

td {
	text-align: center;
	background-color: white;
}

table {
	padding: 5px;
	margin: 70px;
}

img {
  display: block;
  margin: auto;
}

